<ion-header no-border="no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title ion-text-capitalize="ion-text-capitalize">Armado</ion-title>

        <ion-buttons slot="end">
            <ion-button shape="round" (click)="cargarPendientes()">
                <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
            </ion-button>

            <ion-button shape="round" (click)="cargarPendientes()">
                <ion-icon slot="icon-only" name="ios-funnel"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <ion-segment #segmento (ionChange)="segmentChanged($event)">
        <ion-segment-button value="pendientes">
            <ion-label *ngIf="pendientes">
                Pendientes ( {{ pendientes.length }} )
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="completados">
            <ion-label *ngIf="completados">Completados ( {{ completados.length }} )</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="!cargando">
        <ion-item *ngFor="let i of (segment.value === 'pendientes'? pendientes:completados)" (click)="seleccionarItem( i )">

            <ion-label>
                <h2>{{ i.NOMBRE }}</h2>

                <p class="primary">{{ i.TRADES }} </p>

                <p>{{ i.CODFOR }} - {{ i.NROFOR }} - {{ i.FCHMOV | date: 'dd/MM/yy' }} </p>

            </ion-label>

            <ion-chip slot="end" color="{{ i.CNTPK2 == 0 ? 'danger' :  i.CANTID > i.CNTPK2 ? 'warning' : 'success' }}">
                <ion-label>
                    {{ i.CNTPK2 }} / {{ i.CANTID }}
                </ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="cargando">
        <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]">

            <ion-label>
                <h2>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </h2>

                <p>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </p>

                <p>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </p>
            </ion-label>

            <ion-chip slot="end">
                <ion-label>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>


<ion-footer>

    <!--  
    <ion-toolbar *ngIf="segment.value === 'pendientes'">

        <ion-input [(ngModel)]="codigoManual" (keyup.enter)="procesarCodigoManual()"></ion-input>

        <ion-buttons slot="end">
            <ion-button shape="round" (click)="procesarCodigoManual()" color="success">
                <ion-icon slot="icon-only" name="add"> </ion-icon>
            </ion-button>

            <ion-button shape="round" (click)="scanCode()" color="primary">
                <ion-icon slot="icon-only" name="barcode"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
    -->

    <ion-toolbar *ngIf="segment.value === 'completados'">

        <ion-button (click)="confirmarPacking()" color="primary" expand="full">
            <ion-icon slot="start" name="send"></ion-icon>
            Confirmar Armado
        </ion-button>

    </ion-toolbar>
</ion-footer>