<ion-header>
  <ion-toolbar>
    <ion-title>Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item href="http://intercap.com.ar/TiendaVirtual/producto/001001040082/110/90-19%A062m_tt_k782_sand_mad">
      <ion-thumbnail>
        <img src="http://bp000323.ferozo.com/imagenes/productos/001/17072019_001001040082.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        001001040082 - 110/90-19 62M TT K782 SAND MAD
      </ion-label>

      <ion-label slot="end">45 UNI</ion-label>
      
    </ion-item>

    <ion-item href="http://intercap.com.ar/TiendaVirtual/producto/007001010052/bujia_ngk_brasil_lmar8a-9">
      <ion-thumbnail>
        <img src="http://bp000323.ferozo.com/imagenes/productos/007/19072019_007001010052.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">        
            001001040082 - 110/90-19 62M TT K782 SAND MAD        
      </ion-label>

      <ion-label slot="end">32 UNI</ion-label>
    </ion-item>

    <ion-item href="http://intercap.com.ar/TiendaVirtual/producto/009002090001/shell_advance_4t_ax5_20w-50_sl/_ma_mineral_multigrado">
      <ion-thumbnail>
        <img src="http://bp000323.ferozo.com/imagenes/productos/009/02052018_002090001-1.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        001001040082 - 110/90-19 62M TT K782 SAND MAD
      </ion-label>

      <ion-label slot="end">14 UNI</ion-label>
    </ion-item>

    <ion-item href="http://intercap.com.ar/TiendaVirtual/producto/003006010007/kit_reinf_c23_corona/pi%F1on/cadena_34/14-428-110l_honda_c_125_biz">
      
      <ion-thumbnail >
        <img src="http://bp000323.ferozo.com/imagenes/productos/003/26092019_003006010007-1.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        001001040082 - 110/90-19 62M TT K782 SAND MAD
      </ion-label>

      <ion-label slot="end">23 UNI</ion-label>
    </ion-item>
    
  </ion-list>

  

  <ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
      <ion-icon name="barcode"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button>
        <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
        <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    
  </ion-fab-list>

</ion-fab>
</ion-content>