<app-header titulo="Item"></app-header>

<ion-content class="animated fadeIn">

    <ion-list>

        <ion-item>
            <ion-avatar>
                <ion-img [src]="item.IMGPRD"></ion-img>
            </ion-avatar>
            <ion-label class="ion-text-wrap">
                <h3 class="text-center">{{ item.DESCRP }}</h3>
                <p class="text-center">Código {{ item.TIPPRO }} - {{ item.ARTCOD }}</p>
                <p class="text-center" *ngIf="item.NROPAR">N° Parte {{ item.NROPAR }} </p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label *ngIf="item.NUBICA" color="primary">
                <ion-icon name="locate" size="small"></ion-icon>
                {{ item.NUBICA }}
            </ion-label>

            <ion-label *ngIf="item.NFECHA" color="success" class="text-center">
                <ion-icon name="calendar"></ion-icon>
                {{ item.NFECHA | fechaFabricacion }}
            </ion-label>

        </ion-item>

        <ion-item>
            <ion-label color="success">
                <p class="text-center">Picking</p>
                <h2 class="text-center">{{ cantidadManual }} {{ item.UNIMED}}</h2>
            </ion-label>

            <ion-label color="danger">
                <p class="text-center">Faltante</p>
                <h2 class="text-center">{{ cantidadFaltante }} {{ item.UNIMED}}</h2>
            </ion-label>

            <ion-label color="primary">
                <p class="text-center">Pedido</p>
                <h2 class="text-center">{{ item.CANTID}} {{ item.UNIMED }}</h2>
            </ion-label>
        </ion-item>

    </ion-list>

    <ion-item>

        <ion-slides pager="false">
            <ion-slide>
                <ion-grid class="paddin padding-calc">

                    <ion-row>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(1,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>1</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(2,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>2</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(3,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>3</ion-label>
                            </ion-button>
                        </ion-col>

                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(4,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>4</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(5,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>5</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(6,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>6</ion-label>
                            </ion-button>
                        </ion-col>

                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(7,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>7</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(8,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>8</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(9,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>9</ion-label>
                            </ion-button>
                        </ion-col>

                        <ion-col size="8" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(0,'P')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>0</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="clean('P')" color="danger" expand="full" size="default">
                                <ion-icon slot="start" name="backspace"></ion-icon>
                            </ion-button>
                        </ion-col>

                        <ion-col *ngIf="item.ESTPCK == 'A' && cantidadManual + cantidadFaltante <= item.CANTID" size="12" class="ion-no-margin ion-no-padding ion-text-center">

                            <ion-button (click)="confirmar()" color="success" expand="full" size="default">
                                <ion-icon slot="start" name="checkmark"></ion-icon>
                                <ion-label>Confirmar Cantidades</ion-label>
                            </ion-button>
                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-slide>

            <ion-slide>
                <ion-grid class="paddin padding-calc">
                    <ion-row>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(1,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>1</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(2,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>2</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(3,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>3</ion-label>
                            </ion-button>
                        </ion-col>

                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(4,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>4</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(5,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>5</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(6,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>6</ion-label>
                            </ion-button>
                        </ion-col>

                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(7,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>7</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(8,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>8</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(9,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>9</ion-label>
                            </ion-button>
                        </ion-col>

                        <ion-col size="8" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="add(0,'F')" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="default">
                                <ion-label>0</ion-label>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                            <ion-button (click)="clean('F')" color="danger" expand="full" size="default">
                                <ion-icon slot="start" name="backspace"></ion-icon>
                            </ion-button>
                        </ion-col>

                        <ion-col *ngIf="item.ESTPCK == 'A' && cantidadManual + cantidadFaltante <= item.CANTID && cantidadFaltante > 0" size="12" class="ion-no-margin ion-no-padding ion-text-center">

                            <ion-button (click)="confirmar()" color="danger" expand="full" size="default">
                                <ion-icon slot="start" name="checkmark"></ion-icon>
                                <ion-label>Informar Faltante</ion-label>
                            </ion-button>

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-slide>

        </ion-slides>

    </ion-item>

</ion-content>


<ion-footer>
    <!--
    <ion-toolbar>

        <ion-input [(ngModel)]="codigoBarra" (keyup.enter)="procesarCodigoBarra()"></ion-input>

        <ion-buttons slot="end">
            <ion-button shape="round" (click)="procesarCodigoBarra()" [disabled]="item.ESTPCK == 'B'" color="success">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-button shape="round" (click)="scanCode()" [disabled]="item.ESTPCK == 'B'" color="primary">
                <ion-icon slot="icon-only" name="barcode"></ion-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
    -->
</ion-footer>