<form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
    <ion-grid fixed class="padding-login">
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-img class="img animated fadeIn maxWid300 marAuto" src="/assets/img/AppIcon.png"></ion-img>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>

        <ion-row>
            <ion-col>

                <ion-list>

                    <ion-item>
                        <ion-label position="floating">Empresa</ion-label>
                        <!--
                        <ion-input name="empresa" type="empresa" [(ngModel)]="loginUser.EMPRESA" required>
                        </ion-input>                        
                        -->

                        <ion-select placeholder="" name="empresa" [(ngModel)]="loginUser.EMPRESA" required>
                            <ion-select-option *ngFor="let e of empresas" [value]="e.CODIGO">{{ e.NOMBRE }}</ion-select-option>
                        </ion-select>

                    </ion-item>


                    <ion-item>
                        <ion-label position="floating">Ususario</ion-label>
                        <ion-input name="usuario" type="usuario" [(ngModel)]="loginUser.USUARIO" required>
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input name="password" type="password" [(ngModel)]="loginUser.PASSWORD" required>
                        </ion-input>
                    </ion-item>


                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6">
                <ion-button type="submit" expand="block" class="marAuto text-center" [disabled]="cargando">
                    Ingresar
                </ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>

    </ion-grid>
</form>