<app-header titulo="Picking" [cargando]="cargando" filtro="picking"></app-header>

<ion-toolbar>

    <ion-segment #segmento (ionChange)="segmentChanged($event)">
        <ion-segment-button value="pendientes" size="small">
            <ion-label *ngIf="datos">Pendientes ( {{ (datos | filtro: true : filtroService.filtro).length }} )</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completados">
            <ion-label *ngIf="datos">Completados ( {{ (datos | filtro: false : filtroService.filtro).length }} )</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-toolbar>

<ion-content fullscreen>

    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="!cargando">

        <ion-item-group *ngFor="let i of datos | filtro: pendiente : filtroService.filtro " (click)="seleccionarItem( i )">

            <app-item-producto [item]="i" tipo="picking"></app-item-producto>

        </ion-item-group>

    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="segment.value === 'pendientes'">

        <ion-input [(ngModel)]="codigoManual" (keyup.enter)="procesarCodigoManual()" autofocus="true"></ion-input>

        <ion-buttons slot="end">
            <ion-button shape="round" (click)="procesarCodigoManual()" color="success">
                <ion-icon slot="icon-only" name="add"> </ion-icon>
            </ion-button>

            <ion-button shape="round" (click)="scanCode()" color="primary">
                <ion-icon slot="icon-only" name="barcode"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

    <ion-toolbar *ngIf="segment.value === 'completados'">

        <ion-button (click)="confirmarPicking()" color="primary" expand="full">
            <ion-icon slot="start" name="send"></ion-icon>
            Confirmar Picking
        </ion-button>

    </ion-toolbar>
</ion-footer>