<ion-header>
  <ion-toolbar>
    <ion-title>
      Confirmado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
        <ion-item href="http://intercap.com.ar/TiendaVirtual/producto/020001010001/110/90-19%A062m_tt_k782_sand_mad">
          <ion-thumbnail>
            <img src="http://bp000323.ferozo.com/imagenes/productos/020/29052018_001010001-1.jpg">
          </ion-thumbnail>
    
          <ion-label class="ion-text-wrap">
            001001040082 - 110/90-19 62M TT K782 SAND MAD
          </ion-label>
    
          <ion-label slot="end">45 UNI</ion-label>
          
        </ion-item>
    
        <ion-item href="http://intercap.com.ar/TiendaVirtual/producto/020001010031/bujia_ngk_brasil_lmar8a-9">
          <ion-thumbnail>
            <img src="http://bp000323.ferozo.com/imagenes/productos/020/29052018_001010031-1.jpg">
          </ion-thumbnail>
    
          <ion-label class="ion-text-wrap">        
                001001040082 - 110/90-19 62M TT K782 SAND MAD        
          </ion-label>
    
          <ion-label slot="end">32 UNI</ion-label>
        </ion-item>
        
      </ion-list>

      <ion-button color="success" expand="full" >Confirmar Colecta</ion-button>

</ion-content>
