<ion-header no-border>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title ion-text-capitalize> {{ titulo }} </ion-title>


        <ion-buttons slot="end">

            <ion-button *ngIf="filtro" (click)="verFiltro()">
                <ion-icon slot="icon-only" name="ios-funnel"></ion-icon>
            </ion-button>

            <!-- Circles -->
            <ion-spinner *ngIf="cargando" name="crescent" color="success"></ion-spinner>

        </ion-buttons>
    </ion-toolbar>
</ion-header>