<app-header titulo="Filtros"></app-header>

<ion-content>

    <ion-list>
        <ion-item>

            <ion-label>Circuito </ion-label>

            <ion-select placeholder="" [(ngModel)]="filtroService.filtro.CIRCOM">
                <ion-select-option value="0250">Mayorista</ion-select-option>
                <ion-select-option value="0260">Dropshipping</ion-select-option>
            </ion-select>

        </ion-item>
    </ion-list>

</ion-content>


<ion-footer>

    <ion-toolbar>

        <ion-button (click)="guardarFiltro()" color="primary" expand="full">
            <ion-icon slot="start" name="save"></ion-icon>
            Guardar Filtros
        </ion-button>

    </ion-toolbar>
</ion-footer>