<app-header titulo="Item"></app-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-avatar>
                <ion-img [src]="item.IMGPRD"></ion-img>
            </ion-avatar>

            <ion-label> {{ item.DESCRP }}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label> Código: </ion-label>
            <ion-label> {{ item.TIPPRO }} - {{ item.ARTCOD }}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label> Estado: </ion-label>
            <ion-label color="{{ item.CNTPCK == 0 ? 'danger' :  item.CANTID > item.CNTPCK ? 'warning' : 'success' }}">
                {{ item.CNTPCK == 0 ? 'No iniciado' : item.CANTID > item.CNTPCK ? 'En progreso' : 'Completado' }}
            </ion-label>
        </ion-item>

        <!--
        <ion-item>
            <ion-label> Presentación: </ion-label>
            <ion-label> {{ item.unidadConversion }} {{ item.factorConversion | number:'1.0-0' }} {{ item.unidadMedida }}
            </ion-label>
        </ion-item>
        -->

        <ion-item>
            <ion-label> Ubicación: </ion-label>
            <ion-label> {{ item.NUBICA }}</ion-label>
        </ion-item>

        <!--
        <ion-item>
            <ion-label> Cantidad: </ion-label>
            <ion-label> {{ item.CANTIDPicking }}/ {{ item.CANTID }}  </ion-label>
        </ion-item>
        -->
    </ion-list>

    <ion-grid class="paddin padding-calc">
        <ion-row>
            <ion-col size="12" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button color="medium" expand="full" size="large" size="large">
                    <ion-label>Cantidad: {{ cantidadManual }} / {{ item.CANTID}} {{ item.UNIMED }}</ion-label>
                </ion-button>
            </ion-col>

            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(1)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>1</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(2)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>2</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(3)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>3</ion-label>
                </ion-button>
            </ion-col>

            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(4)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>4</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(5)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>5</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(6)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>6</ion-label>
                </ion-button>
            </ion-col>

            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(7)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>7</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(8)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>8</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(9)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>9</ion-label>
                </ion-button>
            </ion-col>

            <ion-col size="8" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="add(0)" [disabled]="item.ESTPCK == 'B'" color="primary" expand="full" size="large">
                    <ion-label>0</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="clean()" color="danger" expand="full" size="large">
                    <ion-icon slot="start" name="backspace"></ion-icon>
                </ion-button>
            </ion-col>

            <ion-col *ngIf="item.ESTPCK == 'A' && cantidadManual <= item.CANTID && cantidadManual > 0 " size="12" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="confirmar()" color="success" expand="full" size="large">
                    <ion-icon slot="start" name="checkmark"></ion-icon>
                    <ion-label>Confirmar</ion-label>
                </ion-button>
            </ion-col>

            <!--
            <ion-col *ngIf="item.CANTID == item.CNTPCK " size="12" class="ion-no-margin ion-no-padding ion-text-center">
                <ion-button (click)="resetCantidad()" color="danger" expand="full" size="large">
                    <ion-icon slot="start" name="undo"></ion-icon>
                    <ion-label>Deshacer </ion-label>
                </ion-button>
            </ion-col>
            -->

        </ion-row>
    </ion-grid>

</ion-content>


<ion-footer>
    <!--
    <ion-toolbar>

        <ion-input [(ngModel)]="codigoBarra" (keyup.enter)="procesarCodigoBarra()"></ion-input>

        <ion-buttons slot="end">
            <ion-button shape="round" (click)="procesarCodigoBarra()" [disabled]="item.ESTPCK == 'B'" color="success">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-button shape="round" (click)="scanCode()" [disabled]="item.ESTPCK == 'B'" color="primary">
                <ion-icon slot="icon-only" name="barcode"></ion-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
    -->
</ion-footer>